<div class="container-fluid min-vh-100 py-5 bg-white">
    <div class="container text-center">
      <div class="d-flex justify-content-start mb-4">
        <button class="btn btn-secondary btn-lg position-fixed top-0 start-0 m-5" (click)="goBack()">
          < Back
        </button>        
      </div>
      <h1 class="mb-5 display-4">Portfolio</h1>
  
      <div class="row g-4">
        <div class="col-md-6">
            <a href="https://app.powerbi.com/view?r=eyJrIjoiNTZhNGQ0Y2ItYjhhZS00NWNjLTk1YWItM2JmOTg5ZThlMDZkIiwidCI6ImRmODY3OWNkLWE4MGUtNDVkOC05OWFjLWM4M2VkN2ZmOTVhMCJ9" class="text-white mt-2 fs-5" target="_blank">
                <div class="card project-card border shadow position-relative overflow-hidden">
                <img src="dashboards/population.png" alt="Population Dashboard" class="card-img-top img-fluid">
                <div class="overlay d-flex flex-column justify-content-center align-items-center text-white text-center p-3">
                    <h5 class="fw-bold">Population Dashboard</h5>
                    <p class="mb-0 fs-6">An analysis about the population trends in Poland from 1960 to 2022, including average population figures, demographic breakdowns by age and gender, and changes illustrated by chain index and yearly growth.</p>
                    <p class="text-decoration-underline fs-5">Open</p>
                </div>
            </div>
          </a>
        </div>
  
        <div class="col-md-6">
            <a href="https://app.powerbi.com/view?r=eyJrIjoiMDc4MGFjOGUtNTRlNC00ZGFiLWExMjktZThjNzE2MTg4ZWI3IiwidCI6ImRmODY3OWNkLWE4MGUtNDVkOC05OWFjLWM4M2VkN2ZmOTVhMCJ9" class="text-white mt-2 fs-5" target="_blank">
                <div class="card project-card border shadow position-relative overflow-hidden">
                <img src="dashboards/subreddit.png" alt="Subreddit Dashboard" class="card-img-top img-fluid">
                <div class="overlay d-flex flex-column justify-content-center align-items-center text-white text-center p-3">
                    <h5 class="fw-bold">Subreddit Dashboard</h5>
                    <p class="mb-0 fs-6">A monthly analysis of r/ArtificialIntelligence subreddit posts, highlighting top contributors, posting trends, popular keywords, and peak activity times.</p>
                    <p class="text-decoration-underline fs-5">Open</p>
                </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  