$blue-deep-dark: #669ecf;
$blue-dark: #99cae6;
$blue-light: #c1dded;
$beige: #f4f2ee;
$white-gray: #f3f3f4;

$text-primary: #3b3a3a;
$text-secondary: #666464;

$primary: $blue-dark;
$secondary: $blue-light;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "beige": $beige,
  "light-blue": $blue-light,
  "dark-blue": $blue-dark,
  "white-gray": $white-gray
);

.dark-link {
  color: $blue-deep-dark;
}