<a href="" class="btn btn-secondary btn-lg position-fixed top-0 start-0 m-5">
  < Back
</a>
<section id="about" class="bg-light-blue d-flex align-items-center" style="min-height: 100vh;">
    <div class="container text-center">
      <div class="d-flex justify-content-start mb-4">
      </div>
      <div class="row align-items-center mt-5">
        <div class="col-md-6">
          <img src="other/myphoto.jpg" alt="Me" class="img-fluid rounded-circle border border-3 border-secondary w-75">
        </div>
        <div class="col-md-6">
          <h2>About me</h2>
          <p class="fs-5 mt-3 text-center">I hold a Master's degree in Management and will soon complete my second Master's in Computer Science. Data analysis is my passion – I enjoy working with data, processing, visualizing, and interpreting it to uncover insights that support effective business decisions. I am looking for opportunities to grow as a junior data analyst, where I can translate my analytical skills into concrete business actions. I want to continue developing in the field of data analysis, both professionally and academically – I plan to pursue further studies in Data Analysis and Big Data.</p>
        </div>
      </div>
    </div>
  </section>
