<button class="btn btn-secondary btn-lg position-fixed top-0 start-0 m-5" (click)="goBack()">
  < Back
</button>

<section id="about" class="bg-dark-blue d-flex align-items-center" style="min-height: 100vh;">
    <div class="container text-center">
      <div class="d-flex justify-content-start mb-4">
      </div>
      <div class="row align-items-center mt-5">
        <div class="col-md-6">
          <img src="other/myphoto.jpg" alt="Me" class="img-fluid rounded-circle border border-5 border-white-gray w-75">
        </div>
        <div class="col-md-6">
          <h1 class="display-4">About me</h1>
          <hr class="my-4" />
          <p class="fs-4 mt-3 display-4 text-center">
            I hold a Master's degree in Management and will soon complete my second Master's in Computer Science. 
          <br>Data analysis is my passion – I enjoy working with data, processing, visualizing, and interpreting it to uncover insights that support effective business decisions. 
          <br>
          <br>I am looking for opportunities to grow as a junior data analyst, where I can translate my analytical skills into concrete business actions. I want to continue developing in the field of data analysis, both professionally and academically – I plan to pursue further studies in Data Analysis and Big Data.</p>
          <a [routerLink]="['/portfolio']" class="btn btn-secondary btn-lg m-4 rounded-pill">See my portfolio</a>
        </div>
      </div>
    </div>
  </section>

  <section id="education" class="bg-white-gray d-flex align-items-center" style="min-height: 100vh;">
    <div class="container text-center">
      <div class="d-flex justify-content-start mb-4">
      </div>
      <div class="row align-items-center mt-5 g-5">
        <div class="col-md-6">
          <hr class="my-4" />
          <div class="mb-4">
            <p class="mb-1 fs-5 display-4 text-start">10.2023 – now</p>
            <p class="mb-1 fs-5 fw-semibold display-4 text-start">Warsaw University of Life Sciences</p>
            <p class="mb-1 fs-4 fw-semibold display-4 text-start">Computer Science</p>
            <p class="mb-0 fs-6 display-4 text-start">Degree: Master of Science</p>
          </div>
          <hr class="my-4" />
          <div class="mb-4">
            <p class="mb-1 fs-5 display-4 text-start">10.2023 - 06.2025</p>
            <p class="mb-1 fs-5 fw-semibold display-4 text-start">University of Warsaw</p>
            <p class="mb-1 fs-4 fw-semibold display-4 text-start">Management</p>
            <p class="mb-0 fs-6 display-4 text-start">Degree: Master of Science</p>
          </div>
          <hr class="my-4" />
          <div class="mb-4">
            <p class="mb-1 fs-5 display-4 text-start">10.2020 - 07.2023</p>
            <p class="mb-1 fs-5 fw-semibold display-4 text-start">Warsaw University of Life Sciences</p>
            <p class="mb-1 fs-4 fw-semibold display-4 text-start">Management</p>
            <p class="mb-0 fs-6 display-4 text-start">Degree: Bachelor of Science</p>
          </div>
          <hr class="my-4" />
          <div class="mb-4">
            <p class="mb-1 fs-5 display-4 text-start">02.2020 - 02.2023</p>
            <p class="mb-1 fs-5 fw-semibold display-4 text-start">Warsaw Management University</p>
            <p class="mb-1 fs-4 fw-semibold display-4 text-start">Computer Science</p>
            <p class="mb-0 fs-6 display-4 text-start">Degree: Bachelor of Science</p>
          </div>
        </div>
        <div class="col-md-6 bg-light-blue p-4 rounded-4">
          <h1 class="display-4">Education</h1>
          <p class="fs-4 mt-3 display-4 text-center">
            Studying multiple degree programs simultaneously has allowed me to develop a broad range of both technical and analytical-business competencies. 
            <br>
            <br><b>Computer Science</b> studies equipped me with skills in <b>programming, software engineering, data structures, and working with database systems</b>. I expanded my knowledge of <b>Python, SQL</b>, as well as the fundamentals of <b>Artificial Intelligence and Machine Learning</b>.
            <br>
            <br>Meanwhile, <b>Management</b> studies strengthened my <b>analytical and business abilities</b>, as well as my <b>understanding of organizational processes and decision-making</b>. In particular, I gained proficiency in working with data using <b>Excel</b> and <b>Power BI</b>, and I also had the opportunity to become familiar with the basics of <b>VBA</b> and <b>R</b>.
          </p>
        </div>

      </div>
    </div>
  </section>